<!DOCTYPE html>
<html>
<head>
  <title>ThermMonitor</title>
   <style type="text/css">
   A:link, A:visited { text-decoration: none }
  </style>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
